#cedar_map_plugin {
    position: relative;
    width: 100%;
    height: 400px;
    max-width: 100%;

}

#cedar_map_plugin a {
    box-shadow: none;
}

.leaflet-container img.leaflet-tile {
    max-width: none !important;
    max-height: none !important;
}